#header{:style => "margin-top:40px"}

.container-fuild
  .container

    #about{ :style => "text-align:center; color: white"}
      沖縄のお土産を代わりに買います
      
    <br>
    #logo{ :style => "text-align:center;" }
      すぐみやげ


    <br >
    #description{:style => "text-align:center;" }
      %h3
        職場や、学校にお土産を買うのがおっくうな方に、代わりにお土産買って自宅に送ります
      "とりあえず買っとく"相手に、ど定番をお届け。
      いちいち機内に持っていかずに自宅で受け取り。

    %ul{ :style => "font-size:1em; line-hegiht: 20px; margin-top:10px" }
      %li
        数の制限上購入出来なかった場合は返金致します。（返金手数料はジャパネット並みに私が負担）
      %li
        4月末日までにはみなさまのもとへお届け致します。
      %li
        具体的にこれが欲しい！との指定がある場合、

    .row
      .span4
        %h4
          紅いもタルト
        = image_tag("/images/taruto.jpeg", :align => "left",:width => "150px", :height => "150px",:margin=> "0,24px,0,0",:vspace => "15", :hspace => "20" )
        沖縄ド定番その１。
        見たことない人はいないぐらい沖縄の定番。


      .span4
        %h4
          雪塩ちんすこう
        = image_tag("/images/tinsukou.jpg", :align => "left",:width => "150px", :height => "150px",:margin=> "0,24px,0,0",:vspace => "15", :hspace => "20" )
        沖縄ド定番その１。見たことない人はいないぐらい沖縄の定番。

      .span4
        %h4
          詰め合わせセット
        = image_tag("/images/tinsukou.jpg", :align => "left",:width => "150px", :height => "150px",:margin=> "0,24px,0,0",:vspace => "15", :hspace => "20" )

        沖縄ド定番その１。
        見たことない人はいないぐらい沖縄の定番。

    #madeby{:style => "text-align:right" }
      hoooo
