#header{:style => "margin-top:40px"}

.container-fuild
  .container

    #about{ :style => "text-align:center; color: white"}
      沖縄のお土産を代理で買ってきます
      
    <br>
    #logo{ :style => "text-align:center;" }
      すぐみやげ

    <br >
    ボクは沖縄に住んでいる23歳の男の子です。

    gagaga<br>
    gagasgas<br>
    gagasgas<br>
    gagasgas<br>
    gagasgas<br>
    gagasgas<br>
    gagasgas<br>
    gagasgas<br>
    gagasgas<br>
    gagasgas<br>
    gagasgas<br>
    gagasgas<br>
