#header{:style => "margin-top:40px"}

.container-fuild
  .container

    #about{ :style => "text-align:center; color: white"}
      沖縄のお土産を代わりに買います
      
    <br>
    #logo{ :style => "text-align:center;" }
      すぐみやげ


    <br >
    #description{:style => "text-align:center;" }
      %h3
        職場や、学校にお土産を買うのがおっくうな方に、代わりにお土産買って自宅に送ります
      "とりあえず買っとく"相手に、ど定番をお届け。
      いちいち機内に持っていかずに自宅で受け取り。


    .row
      .span4
        heeee
      .span4
        gggggg
      .span4
        gggggg

    #madeby{:style => "text-align:right" }
      hoooo
