@import compass/utilities
@import compass/css3
@import zurui-sass
@import bootstrap
@import bootstrap-responsive


body
  background: url("/images/okinawa.jpg") no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  color: white
  font-size: 13px

h3
  font-size: 14px
  color: white

.container
  background-color: rgba(0,0,0,0.75)
  -webkit-border-radius: 7px

#about
  font-size: 14px
  line-height: 20px
  margin-top: 10px
  margin-left: 1%

#description

#logo
  font-family: 'TanukiMagic'
  font-size: 58px
  text-align:center


